*{margin: 0;
padding: 0;}
body{background-color:#b40640;
}.container{
display: flexbox;
padding:2px;
text-align: center;
border: 2px solid#e5e5e5;
align-items: center;
border-radius: 6px;

}
h1{
    font-weight:bold;
    font-size: 30px;
    font-family: roboto rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: #fff7f4;
    border-radius: 4px;
}
#parag{
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 249, 249);
    text-transform: uppercase;

}h2,p{font-size:16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);

}
img{
    border-radius: 10px;
    width: 480px;
}#jk{justify-content: center;
    border-radius:50px;
    background-color:#b40640;
    color: #e5e5e5;
}